<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bd_mywallet_dev?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">isuser</property>
    <property name="hibernate.connection.password">Pass2018.2</property>
    <mapping resource="model/pojo/TblCategory.hbm.xml"/>
    <mapping resource="model/pojo/TblConcept.hbm.xml"/>
    <mapping resource="model/pojo/TblAccounttype.hbm.xml"/>
    <mapping resource="model/pojo/TblAccount.hbm.xml"/>
    <mapping resource="model/pojo/TblTransaction.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
